# ===============
# STM32 / IAR EWARM
# ===============
Obj/
Exe/
List/
settings/
*.dep
*.ewt
*.dnx
*.ewd
.ninja*
.*_build_cache

# ===============
# Makefile / GCC
# ===============
build/

# ===============
# STM32CubeMX & OS
# ===============
*.bak
.DS_Store
Thumbs.db
